# app/index.haml
!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Sample Deployment
  %body
    %div{:align => "center"}
      %h1 Congratulations!
      %h2 You have successfully completed the tutorial for AWS CodePipeline.
      %p
        For next steps, read the
        %a{:href => "http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html"} AWS CodePipeline Documentation
